<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegExFileRenamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RegExFileRenamer.Properties.Settings>
            <setting name="FileDirectorySetting" serializeAs="String">
                <value />
            </setting>
            <setting name="RegexSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="ReplacementSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExplicitCapture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Compiled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnorePatternWhitespace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RightToLeft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CultureInvariant" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyShowMatch" serializeAs="String">
                <value>False</value>
            </setting>
        </RegExFileRenamer.Properties.Settings>
    </userSettings>
</configuration>